.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

header {
  background-color: #222;
  padding: 20px;
}

.App-header {
  display: flex;
  color: white;
}

.App-header h1 {
  font-size: large;
  font-weight: bold;
}

nav ul {
  display: flex;
  margin-left: 20px;
}

nav li {
  margin-right: 15px;
  border-bottom: 2px solid #FFF;
}

nav li a {
  color: #FFF;
}

nav li a:hover,
nav li a.active {
  color: #00d1b2;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-title {
  margin: 20px auto;
  text-align: center;
  font-size: 26px;
}

.container {
  max-width: 980px;
  margin: auto;
}

.form {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.is-right {
  float: right;
}

.margin-right {
  margin-right: 10px;
}

.select select[multiple] {
  height: 6em;
}

.table {
  border: 1px solid #CCC;
  border-radius: 4px;
  width: 100%;
}

.table thead {
  background-color: #F8FAFC;
}

.table thead th {
  color: #385C78;
  font-size: 13px;
  padding: 10px 15px;
}

.table tbody .edit-link {
  display: table-row;
  color: inherit;
}

.table tbody > .edit-link:hover {
  background-color: #D7E9FA;
}

.table tbody > .edit-link:hover td {
  border-bottom: 1px solid #87C8F2;
  border-top: 1px solid #87C8F2;
  background-color: #D7E9FA;
}

.table tbody td {
  font-size: 14px;
  font-weight: 200;
  line-height: 30px;
}

